/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&family=Paytone+One&family=Raleway:wght@100;300;400&display=swap');

/* VARIABLES */
$fredoka: 'Fredoka', sans-serif;
$paytone: 'Paytone One', sans-serif;
$raleway: 'Raleway', sans-serif;

$header-height: 3rem;

$primary-color: #4361ee;
$secondary-color: #f72585;
$white-color: #fff;
$third-color: #4895ef;

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 0 $header-height 0;
    background: linear-gradient(to right, $primary-color, $secondary-color);
}

a { text-decoration: none; }

ul { list-style: none; }

html { scroll-behavior: smooth; }

img,
video {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CLASSES */
.main { overflow-x: hidden; }

.grid { display: grid; }

.container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section {
    padding: 2rem 0 4rem;

    &__title {
        text-align: center;
        font-family: $raleway;
        font-size: 1.7rem;
    }

    &__subtitle {
        margin: .5rem 0 3rem;
        font-family: $raleway;
        font-weight: 300;
        display: block;
        text-align: center;
        font-size: 1.2rem;
    }
}

.alert-firstname,
.alert-lastname,
.alert-email,
.alert.phonenumber,
.alert-message { color: red; }

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -1px 4px;
    background: linear-gradient(to right, $primary-color, $secondary-color);
}

.scroll-header {
    background: $primary-color;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -1px 4px;
}

.nav {
    max-width: 968px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle { color: $white-color; }

    &__logo {
        font-family: $fredoka;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    &__toggle {
        cursor: pointer;
        font-size: 1.4rem;
    }

    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px;
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .3s;
            background: linear-gradient(to right, $primary-color, $secondary-color);
        }
    }

    &__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white-color;
        text-align: center;
        font-size: 1.1rem;
        font-family: $fredoka;
    }

    &__icon { font-size: 1.4rem; }

    &__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.8rem;
        cursor: pointer;
        color: $white-color;
    }
}

.show-menu { bottom: 0; }

/* HOME */
.home {
    background: linear-gradient(to right, rgba(39, 39, 39, .3), rgba(39, 39, 39, .3));
    height: 100vh;
    font-family: $fredoka;

    &__data {
        &-title,
        &-subtitle,
        &-desc { text-align: center; }

        &-title {
            color: $white-color;
            font-size: 4rem;
        }

        &-subtitle {
            font-size: 1.25rem;
            font-family: $raleway;
            font-weight: 300;
            color: #e6e6e6;
        }

        &-desc {
            font-size: 1.1rem;
            font-family: $raleway;
            margin: 1.5rem 0 2rem;
            color: $white-color;
        }

        &-btns {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-btn {
            color: $white-color;
            padding: 1rem 2rem;
            border-radius: 2rem;
            background-color: $primary-color;
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: .5rem;
            font-size: 1.3rem;
            transition: .5s;

            &:hover { 
                background-color: $third-color;
                column-gap: 1rem;
            }
        }

        &-icon { font-size: 1.5rem; }
    }
}

/* ABOUT */
.about {
    background-color: $white-color;

    &__content { row-gap: 2rem; }

    &__card {
        display: grid;
        row-gap: 1rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .4);
        border-radius: .5rem;
        padding: 1rem 2rem;
        transition: .5s;
        cursor: default;

        &:hover {
            transform: scale(1.03);
            background-color: $third-color;
        }

        &-data {
            text-align: center;
            font-family: $fredoka;
            font-size: 1.115rem;
        }
    }
}

/* SERVICIOS */
.servicios {
    &__title { color: $white-color; }

    &__subtitle { color: $white-color; }

    &__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    &__content {
        position: relative;
        background-color: $white-color;
        padding: 3.5rem .5rem 1.25rem 1.5rem;
        border-radius: .25rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .5);
        font-family: $raleway;
        cursor: default;

        &-icon {
            display: block;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $primary-color;
        }

        &-title {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        &-btns {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $primary-color;
            column-gap: .5rem;
            font-size: 1.05rem;

            &:hover i {
                transform: translateX(.25rem);
                transition: .3s;
            }
        }

        &-modal {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            z-index: 1000;
            visibility: hidden;
            transition: .3s;
            background-color: rgba(0, 0, 0, .5);
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &_data {
                position: relative;
                border-radius: .5rem;
                padding: 1.5rem;
                background-color: $white-color;
            }

            &_title {
                margin-bottom: 1.5rem;
                font-size: 1.2rem;
            }

            &_servicios { row-gap: 1rem; }

            &_servicio {
                display: flex;

                & i {
                    margin-right: .5rem;
                    color: $primary-color;
                    font-size: 1.1rem;
                }

                & p { font-size: 1.05rem; }
            }

            &_close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: $primary-color;
                font-size: 1.7rem;
                cursor: pointer;
            }
        }
    }
}

.active-modal {
    opacity: 1;
    visibility: visible;
}

/* PORTAFOLIO */
.portafolio {
    &__title { color: $white-color; }

    &__subtitle { color: $white-color; }

    &__container {
        row-gap: 1.5rem;
        margin-bottom: 3rem;
    }

    &__categoria {
        color: $white-color;
        text-align: center;
        font-size: 1.35rem;
        font-family: $raleway;
        margin-bottom: 3rem;
    }

    &__carrusel {
        margin-bottom: 3rem;

        &-card {
            position: relative;
            overflow: hidden;
            width: 200px;
        }
    }

    &__videos {
        row-gap: 2rem;

        &-content { position: relative; }

        &-btn {
            border: none;
            outline: none;
            background-color: $primary-color;
            padding: 1rem 1.5rem;
            cursor: pointer;
            position: absolute;
            right: 1rem;
            bottom: -1px;
        }

        &-icon {
            color: $white-color;
            font-size: 1.5rem;
        }
    }

    &__card {
        background-color: $white-color;
        border-radius: 0 0 .5rem .5rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .5);
        font-family: $raleway;
        cursor: default;

        &-data {
            padding: 1rem 1rem 0 1rem;
            font-size: 1.1rem;
        }

        &-btns {
            display: flex;
            padding: 1rem;
        }

        &-btn {
            display: flex;
            align-items: center;
            column-gap: .5rem;
            font-size: 1.1rem;
            background-color: $primary-color;
            color: $white-color;
            padding: .7rem 1.5rem;
            border-radius: .5rem;
            transition: .5s;
            cursor: pointer;

            &:hover { background-color: $third-color; }

            &:hover i { 
                transform: translateX(.25rem);
                transition: .3s;
            }
        }
    }
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* CONTACTO */
.contacto {
    background-color: $white-color;
    font-family: $raleway;

    &__container { row-gap: 2rem; }

    &__email {
        display: flex;

        &-icon {
            font-size: 2rem;
            color: $primary-color;
            margin-right: .75rem;
        }

        &-title { margin-bottom: .5rem; }

        &-subtitle { font-size: 1.1rem; }
    }

    &__form {
        display: grid;
        row-gap: 1.5rem;

        &-inputsCont {
            display: grid;
            row-gap: 1.5rem;
        }

        &-inputs {
            background-color: #e6e6e6;
            border-radius: .5rem;
            padding: .75rem 1rem .25rem;
            display: grid;
        }

        &-label {
            color: $primary-color;
            font-size: 1.1rem;
        }

        &-input {
            width: 100%;
            border: none;
            outline: none;
            background-color: #e6e6e6;
            padding: .25rem .5rem .5rem 0;
            font-family: $raleway;
            font-size: 1.1rem;
        }

        &-textarea {
            border: none;
            outline: none;
            resize: none;
            font-family: $raleway;
            font-size: 1.1rem;
            background-color: #e6e6e6;
        }

        &-btns {
            display: flex;
        }

        &-btn {
            background-color: $primary-color;
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            border-radius: .5rem;
            font-size: 1.1rem;
            color: $white-color;
            column-gap: .5rem;
            cursor: pointer;
            border: none;
            outline: none;
        }

        &-icon { font-size: 1.3rem; }
    }
}

/* FOOTER */
.footer {
    font-family: $fredoka;
    background: linear-gradient(to right, rgba(39,39,39,.3), rgba(39,39,39,.3));

    &__brand {
        margin-bottom: 1rem;

        & h1 {
            color: $white-color;
            text-align: center;
        }
    }

    &__data {
        & p {
            color: #e6e6e6;
            font-size: 1.1rem;
            text-align: center;
        }
    }
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: .5rem;

    &:hover { background-color: $third-color; }
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav {
        &__menu { padding: 2rem .25rem 4rem; }

        &__list { column-gap: 0; }
    }

    .servicios {
        &__container {
            grid-template-columns: max-content;
            justify-content: center;
        }

        &__content {
            padding-right: 3.5rem;

            &-modal { padding: 0 .5rem; }
        }
    }

    .contacto {
        &__email {
            &-subtitle { font-size: 1rem; }
        }
    }
}

@media screen and (min-width: 400px) {
    .home {
        &__images {
            display: flex;
            justify-content: center;
            align-items: center;

            &-img { width: 70%; }
        }
    }
}

@media screen and (min-width: 480px) {
    .about {
        &__card {
            &-images {
                display: flex;
                justify-content: center;
            }

            &-img { width: 80%; }
        }
    }
}

@media screen and (min-width: 568px) {
    .portafolio {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }
    }

    .contacto {
        &__form {
            &-inputsCont {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1.2rem;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .home {
        &__images {
            &-img { width: 55%; }
        }
    }

    .about {
        &__card {
            &-img { width: 70%; }
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body { margin: 0; }

    .section {
        padding: 6rem 0 2rem;

        &__subtitle { margin-bottom: 4rem; }
    }

    .header {
        top: 0;
        bottom: initial;
        border-radius: 0;
    }

    .nav {
        height: 3rem + 1.5rem;
        column-gap: 1rem;

        &__close,
        &__icon,
        &__toggle { display: none; }

        &__list {
            display: flex;
            column-gap: 2rem;
        }

        &__menu { margin-left: auto; }
    }

    .header {
        padding: 0 1rem;
    }

    .home {
        &__content {
            grid-template-columns: repeat(2, 1fr);
            padding: 9rem 1rem 0 1rem;
        }

        &__images {
            order: 1;

            &-img { width: 100%; }
        }

        &__data {
            &-title,
            &-subtitle,
            &-desc { text-align: left; }

            &-btns { justify-content: left; }
        }
    }

    .about {
        &__content { padding: 0 1rem; }

        &__card {
            grid-template-columns: repeat(2, 1fr);

            &-images { align-items: center; }

            &-img { width: 100%; }

            &-img.three { height: 60%; }

            &-images.two { order: 1; }

            &-data { text-align: end; }
        }
    }

    .servicios {
        &__container {
            grid-template-columns: repeat(3, 218px);
            justify-content: center;
        }

        &__content {
            padding: 6rem 0 2rem 1.5rem;

            &-icon { font-size: 2rem; }

            &-modal {
                &_data { width: 450px; }
            }
        }
    }

    .portafolio {
        &__container { padding: 0 1rem; }
    }

    .contacto {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            padding: 0 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        &__logo { font-size: 2rem; }
    }

    .about {
        &__card { column-gap: 1rem; }
    }

    .servicios {
        &__container { grid-template-columns: repeat(3, 238px); }
    }

    .portafolio {
        &__container { column-gap: 3rem; }
    }
}
